@(message: String)
@main("Change Password") {
    <div class="form">
        <h1 class="formHeader">
            Update Password!
        </h1>
        @if(message.length > 0) {
            <h3 class="editProfile">@message</h3>
        }
        <div class="row">
            <form action="@routes.EditUserProfileController.updateUserPassword()" method="post">
                <div class="field-wrap">
                    <h4>Password</h4>
                    <input class="required" id="password" placeholder="Password - Required"
                    name="password" type="password" />
                </div>
                <div class="field-wrap lastInput">
                    <h4>Password</h4>
                    <input class="required" id="confirmPassword" placeholder="Confirm Password - Required"
                    name="confirmPassword" type="password" />
                </div>
                <div class="row">
                    <button id="buttonSubmit" type="submit" class="button button-block" />
                    SAVE CHANGES
                    <button id="buttonReset" type="reset" class="button button-block" />
                    RESET
                </div>
                <h3 class="delete">
                    <a id="buttonDelete" href="@routes.EditUserProfileController.editUserProfileForm()">BACK</a>
                </h3>
            </form>
        </div>

    </div>
}