@(userList: List[User])
@import org.joda.time.format.DateTimeFormat
@defining(DateTimeFormat.forPattern("dd-MM-yyyy")) { dateFormatter =>
    @dashboard.main("Admin Panel") {

        <div class="container">
            <h1 class="adminHeader">Welcome in Admin Panel!</h1>
            @if(userList.size() == 1) {
                <h2 class="adminHeader">No Registered User</h2>
            } else {
                <h2 class="adminHeader">User List</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Email</td>
                            <td>Account Status</td>
                            <td>Account Role</td>
                            <td>Registration Date</td>

                        </tr>
                    </thead>
                    <tbody>
                    @for(user <- userList) {
                        @if(user.getId != Long.parseLong(session.get("userId"))) {
                            <tr>
                                <td>@user.getId</td>
                                <td>@user.getFirstName</td>
                                <td>@user.getLastName</td>
                                <td>@user.getEmail</td>
                                <td>@user.getAccountStatus</td>
                                <td>@user.getAccountRole</td>
                                <td>@dateFormatter.print(user.getRegistrationDate)</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            }
        </div>
    }
}
