<nav class="navbar navbar-inverse navbar-fixed-top">
    <a href="@routes.HomepageController.homepage()" class="navbar-brand">CRM</a>

    <button class="navbar-toggle" data-toggle="collapse"
    data-target=".navHeaderCollapse">
        <span class="glyphicon glyphicon-list"></span>
    </button>

    <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@routes.HomepageController.homepage()">Home Page</a></li>
            @if(session.get("userId")!= null) {
                <li><a href="@routes.ContactsController.getContacts">Contacts</a></li>
                <li><a href="@routes.ContactsController.addContactForm()">Add new Contact</a></li>
                <li><a href="@routes.EditUserProfileController.editUserProfileForm()">Edit Account</a></li>
            }
            @if(session.get("userRole")!= null && session.get("userRole").equals("ADMIN")) {
                <li><a href="@routes.AdminPanelController.adminPanel()">Admin Panel</a></li>
            }
            @if(session.get("userId")!= null) {
                <li><a href="@routes.LoginAndLogoutController.logout()">Logout</a></li>
            } else{
                <li><a href="@routes.LoginAndLogoutController.loginForm()">Login</a></li>
            }

        </ul>
    </div>
</nav>
